body::before {
    display: block;
    content: '';
    height: 60px;
}

@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.navbar-toggler {
    background: black;
    border: none;
    padding: 10px 6px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}

